/* 1. Element (Tag) Selector */
h2 {
    color: darkblue;
    text-transform: uppercase;
}

h3 {
    color: darkgreen;
}

/* 2. Element selector with styling */
hr {
    border: 2px solid gray;
    width: 80%;
}

/* 3. Class Selector */
.p-text {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

/* 4. ID Selector */
#mainDiv {
    background-color: #f2f2f2;
    padding: 15px;
    border: 2px solid black;
}

/* 5. Descendant Selector */
div span {
    color: red;
    font-weight: bold;
}

/* 6. Attribute Selector */
time[datetime] {
    color: purple;
    font-style: italic;
}

/* 7. Pseudo-class Selector */
a:hover {
    color: orange;
    text-decoration: underline;
}

/* 8. Image styling */
img {
    width: 200px;
    border: 3px solid #000;
}

/* 9. Group Selector */
p, span {
    font-family: Arial, sans-serif;
}